body {
    background-color: #e5e5e5;
}

#upper-part {
    height: 115vh;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 4rem;
    margin-bottom: 10%;
    padding-bottom: ;
    background-position: center;
    background-position-y: 6rem;
    background-image: url("./sources/Header\ bg.png");
}

nav {
    height: auto;
    width: 100vw;
    padding: 20px;
}

nav .col-sm-2 {
  width: 13%;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* display: flex;
  align-items: center;
  text-align: center; */
  color: #6070FF;
}

nav .col-sm-12 {
  height: auto;

}
ul {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

ul li a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

#container1 {
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  width: 1440px;
  height: 846px;
  left: 16.5%;
  margin-top: -900px;
}

#heading {
  width: 920px;
  height: 122px;
  top: 206px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: hsl(218, 54%, 20%);
}

#socialmedia {
  /* flex: none;
  position: relative;
  */
}

#lets-connect {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  padding: 0;
  gap: 8px 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: hsl(234, 100%, 75%);
}

#topicons {
  display: flex;
  list-style: none;
  width: 170.17px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-items: center;
  padding: 7.99px 4px;
}

#container2 {
  background: #000;
}